body{
    margin: 0;
    padding: 0;
    background-color:bisque;
    background-image: url(images/love.gif);
    background-size: 150px;
}
h1{
    color:black;
    text-align: center;
}
p{
    font-weight: bold;
    text-align: center;
}
.div1{
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
}
#div2{
    display: flex;
    gap: 20px;
    height: 35px;
    justify-content: center;
    
}
button{
    border-radius: 5px;
    width: 70px;
    font-weight: bold;
    height: 30px;
}
#yesbtn:hover{
    background-color: red;
    color: white;
    border: 1px solid red;
}
#nobtn:hover{
    background-color: red;
    color: white;
    border: 1px solid red;
}
a{
    text-decoration: none;
}
label{
    color: white;
    font-weight: bold;
}
input{
    border: 2px solid red;
    border-radius: 3px;
}
.first-tag{
    border-radius: 5px;
    background-color: bisque;
    border-image-source: url(images/teddy.png);
border-image-width: 15px;

    width: 155px;
    height: 65px;
    rotate: -5deg;
    animation: testing 3s infinite;
  animation-direction: alternate;
    
}
@keyframes testing{
    0% {
        transform: translate(0, 0);    
      }
      100% {
        transform: translate(20px, 500px);
      }
}
#whole-div{
    column-gap: 140px;
    row-gap: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.two{

rotate: -5deg;
}
.one{
    rotate: 5deg;
}
.three{
    rotate: 5deg;
}
